@import '../Sass/mixin.scss';
@import '../Sass/variables.scss';

.home {
  background-color: $primary-color;
  position: relative;

  .home--container {
    height: calc(100vh - 6rem);
    overflow-x: hidden;
    @include flex(center, center, column);

    .home--img {
      @include flex(center, center, row);
      z-index: 2;
      img {
        width: 500px;
        object-fit: contain;
        cursor: pointer;
        transition: transform 0.5s ease;
        &:hover {
          transform: scale(1.02);
        }
      }
    }

    .home--img__img-bg {
      width: 100%;
      height: 40%;
      background-color: white;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    .home--header {
      padding: 1.25rem;
      left: 0;
      width: 100%;
      align-items: center;

      h1 {
        @include h1;
        color: $primary-dark-color;
        font-weight: 900;

        letter-spacing: -0.25rem;
        text-align: center;
      }
    }
  }
}

.home--bottom__msg {
  @include flex(space-around, center, column);
  padding: 2rem 0rem;
  p {
    @include h5;
    width: 27%;
    text-align: center;
    color: $primary-dark-color;
  }
}
