@import "../Sass/mixin.scss";
@import "../Sass/variables.scss";

.home {
  background-color: $primary-color;
  position: relative;

  .home--container {
    height: calc(100vh - 6rem);
    overflow-x: hidden;
    @include flex(center, center, column);

    .home--img {
      @include flex(center, center, row);
      z-index: 2;
      img {
        width: 500px;
        object-fit: contain;
        cursor: pointer;
        transition: transform 0.5s ease;
        &:hover {
          transform: scale(1.02);
        }
      }
    }

    .home--img__img-bg {
      width: 100%;
      height: 40%;
      background-color: white;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    .home--header {
      padding: 1.25rem;
      left: 0;
      width: 100%;
      align-items: center;

      h1 {
        @include h1;
        color: $primary-dark-color;
        font-weight: 900;

        letter-spacing: -0.25rem;
        text-align: center;
      }
    }

    .home--sticker {
      background-color: $primary-color;
      height: 6rem;
      width: 18rem;
      z-index: 99;
      border-radius: 8rem;
      position: absolute;
      bottom: 4rem;
      @include flex(space-around, center, row);

      .sticker {
        height: 6rem;
        width: calc(18rem * 3);
        background-color: red;
        border-radius: 50%;
      }
    }
  }
}
