@import '../Sass/mixin.scss';
@import '../Sass/variables.scss';

.home--sticker__container {
  width: 100%;
  z-index: 5;
  @include flex(center, center, row);
  @include tablet {
  }

  .home--sticker {
    padding: 2rem;
    height: 6.25rem;
    width: 20rem;
    z-index: 3;
    @include flex(space-around, center, row);

    .sticker {
      height: 6rem;
      width: calc(18rem * 3);
      border-radius: 50%;
      img {
        width: 128px;
        @include tabletLandscape {
          width: 96px;
        }
      }
    }
  }
}
