@import '../Sass/mixin.scss';
@import '../Sass/variables.scss';

footer {
  width: 100%;
  height: 30rem;
  background-color: black;
  overflow: hidden;

  .footer--signup {
    background-color: white;
    @include flex(center, center, column);
    height: 65%;
    .footer--signup__container {
      width: 30rem;
      height: 100%;
      padding: 1rem;

      h3 {
        @include h3;
        margin-top: 1.5rem;
        color: $primary-color;
      }
      p {
        @include h5;
        font-weight: 300;
        margin-bottom: 1rem;
        color: $primary-dark-color;
      }
      form {
        @include flex(left, center, row);
        input {
          border: none;
          border-radius: 36px;
          height: 2.5rem;
          width: 18.5rem;
          padding-left: 1rem;
          font-size: 1.25rem;
          color: $primary-dark-color;
          margin-right: 1rem;
          border: 2px solid $primary-dark-color;
        }
        button {
          cursor: pointer;
          border-radius: 36px;
          border: none;
          height: 2.5rem;
          width: calc(18.5rem / 1.682);
          background-color: $primary-color;
          font-size: 1.25rem;
          font-weight: 900;
          color: $primary-dark-color;
          transition: background-color 0.2s ease;
          &:hover {
            background-color: $primary-color-alt;
          }
        }
      }
    }
  }

  .footer--bottom {
    padding: 2rem;
    @include flex(space-between, center, row);
    height: 35%;
    background-color: black;
    .footer-info {
      .footer--info__top {
        @include flex(space-between, center, row);
        width: 35rem;
        @include tablet {
          width: 28rem;
        }
        .icon {
          color: white;
          font-size: 2rem;
          cursor: pointer;
          transition: transform 0.2s ease;
          &:hover {
            transform: scale(1.05);
          }
        }
        small {
          color: white;
        }
      }
    }

    .footer--vegan {
      margin-top: 0.5rem;
      img {
        height: 100px;
        @include tablet {
          height: 70px;
        }
      }
    }
  }
}
