@import '../Sass/mixin.scss';
@import '../Sass/variables.scss';

nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  background-color: $primary-color;
}

.nav--container {
  @include flex(space-between, center, row);
  height: 6rem;
  padding: 0rem 2.25rem;
  width: 100%;

  a {
    text-decoration: none;
    color: $primary-dark-color;
  }

  span {
    color: transparent;
    -webkit-text-stroke: 1px black;
  }

  .nav--logo {
    @include flex(space-between, center, row);
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: -0.2rem;
    color: $primary-dark-color;
    font-weight: bold;
    transition: color 0.2s ease;
    &:hover {
      color: black;
    }
    h4 {
      margin-top: 0.5rem;
      margin-left: 0.5rem;
      transition: color 0.2s ease;
      font-weight: 900;

      &:hover {
        color: black;
      }
    }
  }

  .nav--links__container {
    width: 25%;

    ul {
      @include flex(right, center, row);

      a {
        text-decoration: none;
        padding: 1.25rem;
        color: $primary-dark-color;
        list-style: none;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 700;
        cursor: pointer;
        &:hover {
          color: black;
        }
      }
    }
  }
}
